.SubHeader {
  height: 62px;
  background: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.page-title {
  font-size: 22px;
  color: #28554D;
}

.subheader-left {
  display: flex;
}

.subheader-right {
  display: flex;
}

.subheader-btn {
  margin: 0 35px;
  padding: 0 10px;
  border-radius: 5px;
  color: $btn-color;
  border-color: $btn-color;

  .fa, .fas {
    margin-right: 5px;
  }

  &:hover {
    color: $btn-hover;
    border-color: $btn-hover;
  }
}

.dropdown-label {
  font-size: 16px;
  color: #4a4a4a;
  margin-left: 20px;
}

.dropdown-input {
  min-width: 100px;
  margin: 0 8px;
}