.Header {
  height: 40px;
  background: #1D1C1C;
  border-bottom: 2px solid #4B5266;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  opacity: .9;
  text-decoration: none;
}

.header-nav {
  display: flex;
}

.logo-img {
  height: 32px;
  margin: 5px;
}

.logo-text {
  font-family: 'Pacifico', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-right: 55px;
  font-weight: 300;
  padding: 6px 0;

  &:hover {
    color: $btn-hover;
    border-color: $btn-hover;
  }
}

.auth-links {
  margin-right: 20px;
  display: flex;
  // color: lightblue;
  align-items: center;
}

.spacer {
  margin: 0 5px;
  opacity: .4;
  color: lightblue;
}

.auth-link {
  margin: 0;
  // color: lightblue;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}