.dialog-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.popup {
  background: white;
  padding: 25px 30px 25px 30px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  position: relative;

  select > option:first-child{
    display: none;
  }

  .fa-times {
    color: darkred;
    position: absolute;
    top: 12px;
    right: 10px;

    &:hover {
        color: rgb(230, 67, 67);
        cursor: pointer;
      }
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    color: $title-color;
    margin-bottom: 15px;
    align-self: center;
  }

  ::placeholder {
    font-style: italic;
    font-size: 13px;
    color: rgb(176, 176, 176);
  }

  .dialog-divider {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    hr {
      flex: 3;
      height: 1px;
      opacity: .4;
    }

    p {
      margin: 0 5px;
      color: rgb(150, 150, 150);
      font-size: 15px;
    }
  }

  .dialog-msg {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .palette-preview {
    width: 100%;
    height: 16px;
    display: flex;
    margin-bottom: 20px;

    .preview-color {
      flex: 1;
      height: 100%;
    }
  }

  select,
  input {
    margin: 8px 0 12px 0;
    padding-left: 5px;
    height: 28px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
  }

  label {
    font-size: 14px;
    margin-top: 10px;
    align-self: flex-start;
  }
  
  .dialog-btns {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    width: 100%;
  }
  
  .dialog-btn {
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 74px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding-bottom: 3px;
    background: $btn-color;
    cursor: pointer;
    
    &:hover {
      background: $btn-hover;
    }
    
    &.cancel-btn {
      color: darkred;
      border: 1px solid darkred;
      background: white;
      
      &:hover {
        color: rgb(230, 67, 67);
        border: 1px solid rgb(230, 67, 67);
      }
    }
  }
}
  