
.PublicPalette {
  display: flex;
  flex-direction: column; 
  padding: 40px;
  height: 100%;
  width: 25%;
  min-width: 250px;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid rgb(232, 232, 232);

  .public-palette-color {
    min-width: 150px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .color-hex {
      animation: 250ms opacity-change ease-in-out;
    }

    @keyframes opacity-change {
      from {
        opacity: .1;
      } to {
        opacity: .7;
      }
    }
  }
}
