#ErrorScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);

  img {
    border-radius: 100%;
    margin-bottom: 20px;
  }
}