.Project {
  border-bottom: 1px solid rgb(232, 232, 232);
}

.project-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px 5px 30px;
  color: rgb(100, 100, 120);
}

.project-heading-left {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 600;
    font-size: 16px;
  }
}

.fa-trash {
  font-size: 16px;
  color: $btn-color;

  &:hover {
    color: darkred;
  }
}

.project-palettes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.add-palette-btn {
  border: 1px solid $btn-color;
  border-radius: 10px;
  color: $btn-color;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $btn-hover;
    border-color: $btn-hover;
    cursor: pointer;
  }

  .plus-txt {
    font-size: 90px;
    margin: -40px 0 -20px 0;
    font-weight: 300;
  }
}