@import '../variables.scss';

.App {
  text-align: center;
  position: relative;
}

.main {
  min-height: calc(100vh - 102px);
  position: relative;
}

.active {
  opacity: 1;
  font-weight: 600;
  border-bottom: 2px solid $btn-color;
}