@import './variables';
@import './App/App';
@import './AllPalettesContainer/AllPalettesContainer';
@import './AllPalettesContainer/PublicPalette/PublicPalette';
@import './ErrorScreen/ErrorScreen';
@import './Header/Header';
@import './SubHeader/SubHeader';
@import './Dialog/Dialog';
@import './PickerScreen/PickerScreen';
@import './PickerScreen/PickerColor/PickerColor';
@import './ProjectsScreen/ProjectsScreen';
@import './ProjectsScreen/Project/Project';
@import './ProjectsScreen/Project/Palette/Palette';
@import './ProjectsScreen/Project/Palette/PaletteColor/PaletteColor';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background: #F8F7F7;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
