@import './variables';
@import './App/App';
@import './ErrorScreen/ErrorScreen';
@import './Header/Header';
@import './SubHeader/SubHeader';
@import './PickerScreen/PickerScreen';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background: #F8F7F7;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: calc(100vh - 102px);
  position: relative;
}
